[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = {version = "*", markers="python_version >= '3.7'"}
bump2version = "*"
# Hotfix for Pipenv's Bug @see https://github.com/pypa/pipenv/issues/4101
colorama = "*"
coverage = "*"
flake8 = "*"
invoke = "*"
isort = "*"
mypy = "*"
pylint = "*"
{% if cookiecutter.use_pytest == 'y' -%}
pytest = "*"{% endif %}
radon = "*"
types-invoke = "*"
xenon = "*"
{{cookiecutter.project_slug}} = {path = ".", editable = true}

[packages]
{%if cookiecutter.command_line_interface|lower == 'click' %}click = ">=7.0"{%- endif %}