{% if cookiecutter.create_author_file == 'y' -%}
include AUTHORS.rst
{% endif -%}
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include {{ cookiecutter.project_slug }}/py.typed

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py *.jpg *.png *.gif
