[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
invoke = "*"
bumpversion = "*"
coverage = "*"
wheel = "*"
sphinx = "*"
twine = "*"
tox = "*"
"flake8" = "*"
pylint = "*"
{% if cookiecutter.use_pytest == 'y' -%}
pytest = "*"{% endif %}
{% if cookiecutter.use_mypy_type_checking == 'y' -%}
mypy = "*"{% endif %}
isort = "*"
yapf = "*"

[packages]
{{cookiecutter.project_slug}} = {path = ".", editable = true}
