[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bump2version = "*"
# Hotfix for Pipenv's Bug @see https://github.com/pypa/pipenv/issues/4101
colorama = "*"
flake8 = "*"
invoke = "*"
isort = "*"
# To enable 2 spaces indent list in mkdocs
mdx-truly-sane-lists = "*"
mkdocs = "*"
mypy = "*"
pipenv-setup = "*"
pylint = "*"
pytest = "*"
pytest-cookies = "*"
pytest-resource-path = "*"
pyyaml = "*"
radon = "*"
tox = "*"
xenon = "*"

[packages]
cookiecutter = "*"

[requires]
python_version = "3"
