[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = {version = "*", markers="python_version >= '3.7'"}
bump2version = "*"
# To test baked cli.py
click = "*"
# Hotfix for Pipenv's Bug @see https://github.com/pypa/pipenv/issues/4101
colorama = "*"
flake8 = "*"
invoke = "*"
isort = "*"
# To enable 2 spaces indent list in mkdocs
mdx-truly-sane-lists = "*"
mkdocs = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cookies = "*"
pytest-resource-path = "*"
pyyaml = "*"
radon = "*"
tox = "*"
xenon = "*"
pytest-mock = "*"

[packages]

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
